In [1]:
#demo깔끔한데이터만드기
#종교별 수입을 비교 
import pandas as pd 

pew = pd.read_csv('c:\\work\\pew.csv')
pew.head(10)

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162

In [4]:
#깔끔한 데이터로 변경하기
pew_long = pd.melt(pew, id_vars='religion')
pew_long.tail(10)

                  religion            variable  value
170      Jehovah's Witness  Don't know/refused     37
171                 Jewish  Don't know/refused    162
172          Mainline Prot  Don't know/refused   1328
173                 Mormon  Don't know/refused     69
174                 Muslim  Don't know/refused     22
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

In [5]:
#약간의 인자값을 전달
pew_long = pd.melt(pew, id_vars='religion', var_name='icome', value_name='count')
pew_long.head(10)

                  religion  icome  count
0                 Agnostic  <$10k     27
1                  Atheist  <$10k     12
2                 Buddhist  <$10k     27
3                 Catholic  <$10k    418
4       Don’t know/refused  <$10k     15
5         Evangelical Prot  <$10k    575
6                    Hindu  <$10k      1
7  Historically Black Prot  <$10k    228
8        Jehovah's Witness  <$10k     20
9                   Jewish  <$10k     19

In [6]:
billboard = pd.read_csv('c:\\work\\billboard.csv')
billboard.iloc[0:5, 0:16]

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,wk6,wk7,wk8,wk9,wk10,wk11
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,94.0,99.0,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,57.0,54.0,53.0,51.0,51.0,51.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,65.0,55.0,59.0,62.0,61.0,61.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,31.0,36.0,49.0,53.0,57.0,64.0